body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  overflow-x: hidden;
}

::selection {
  background: #fff; 
  color: #000;
}
::-moz-selection {
  background: #fff; 
  color: #000;
}

.styler {
  opacity: 0.85;
}

.center-table {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  background: #000;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateY(-50%);
  resize: vertical;
  overflow-x: hidden;
  overflow-y: hidden;
}

tr {
  width: 100%;
  display: inline-table;
  height:50px;
  table-layout: fixed;
}

table{
  height:250px; 
  display: -moz-groupbox;
}

tbody{
  overflow-y: scroll;
  overflow-x: disable;
  height: 250px;
  width: calc(100%-40px);
  position: absolute;
}














